<div class="banner">
  <img src="/assets/discourse_diabetes_educators/top-logo.png" />
  <h1>Diabetes Educator Community</h1>
</div>
<nav class="kb-main">
	<span {{bindAttr class="isKbActive:active"}}>{{#linkTo 'kb_home'}}Knowledge Base{{/linkTo}}</span>
  <span {{bindAttr class="isCommunityActive:active"}}>{{#linkTo 'list.latest'}}Community{{/linkTo}}</span>
  <span><a href="/kb/about" class="about-link">About</a></span>
</nav>