<div class="diaedu-content">
  <div class="main">
    <h1>
      <img src="/assets/diaedu/glyprobs-active.png" />
      Glycemic Problems
    </h1>

    <div class="index-list">
      {{#each controller}}
        <div class="index-row">
          <div class="stat">
            {{likes}}
            <small>Likes</small>
          </div>
          <div class="stat">
            {{comments}}
            <small>Comments</small>
          </div>
          <div class="main-cell">
            <a href="#">{{evaluation}} {{event.name}}</a>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>