<!DOCTYPE html>
<html>
<head>
  <title>DiscourseDiabetesEducators</title>
  <%= stylesheet_link_tag    "discourse_diabetes_educators/application", :media => "all" %>
  <%= javascript_include_tag "discourse_diabetes_educators/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
