<section class="kb-content">
  <div class="slogan">
    <div>
      Help your patients create a <em class="first">tailored</em>, <em class="second">actionable</em> plan to take charge of their diabetes based on glycemic problems and triggers.
    </div>
  </div>
  <div class="flow-area">
    <div class="chevron-divider">
      <div></div>
      <img src="/assets/diaedu/chevron.png" />
      <div></div>
    </div>
    <div class="start-by">
      Start by selecting a glycemic problem
    </div>
    <div class="flow">
      <div class="step">
        <img src="/assets/diaedu/glycprobs-active.png" />
        <div>Glycemic Problems</div>
      </div>
      <img src="/assets/diaedu/right-arrow.png" />
      <div class="step">
        <img src="/assets/diaedu/triggers.png" />
        <div>Triggers</div>
      </div>
      <img src="/assets/diaedu/right-arrow.png" />
      <div class="step">
        <img src="/assets/diaedu/goals.png" />
        <div>Goals</div>
      </div>
    </div>
    <div class="start-button">
      <img src="/assets/diaedu/start-button.png" />
    </div>
  </div>
</section>
<footer class="kb-footer">
  <p>about | contact</p>
  <p>This project is funded by Columbia University.</p>
</footer>
