<div class="block breadcrumb">
  <h3>
    <i class="icon-random"></i>
    {{i18n diaedu.how_got_here}}
  </h3>
  {{#unless loading}}
    <ol>
      {{#each breadcrumb.crumbsWithDataTypes}}
        <li {{bindAttr class="crumb:isActive"}}>
          <div>{{dataType.singularTitle}}</div>
          {{#linkTo 'kb_obj.show_with_breadcrumb' dataType crumb}}<strong>{{crumb.name}}</strong>{{/linkTo}}
        </li>
      {{/each}}
    </ol>
  {{/unless}}
</div>