@import url(http://fonts.googleapis.com/css?family=Lato:400,900);

div.banner, nav.kb-main, nav.kb-subnav {
  font-family: 'Lato', sans-serif;
}

div.banner {
  padding: 30px;
  height: 80px;
  background: url('/assets/discourse_diabetes_educators/banner-bg.png') repeat-x;

  img {
    display: inline-block;
    margin-right: 20px;
  }  

  h1 {
    display: inline-block;
    color: #6D6D6D;
    vertical-align: middle;
    font-size: 28pt;
  }
}

nav.kb-main {
  padding: 20px;
  background-color: #686868;
  
  a {
    text-transform: uppercase;  
    display: inline-block;
    margin-right: 50px;
    font-size: 15px;
    color: white;

    &.active {
      color: #FC8C30;
    }
  }
}

nav.kb-subnav {
  padding: 20px 10px 0 0;
  background-color: #86A8A5;
  color: white;
  font-size: 17px;
  text-align: right;
  height: 40px;
  margin-bottom: 15px;

  a {
    color: white;
    text-decoration: underline;
    display: inline-block;
    margin: 0 5px;
  }
}

header.d-header {
  display: none;
  box-shadow: none;
  border: none;
  background-color: #86A8A5;
  
  img.logo-big {
    display: none;
  }

  div.panel ul.icons .icon {
    background-color: white;
  }
}

div#main-outlet {
  padding-top: 0;
}