{{#each blocks}}
  <div class="filter">
    <h3>{{type}}</h3>
    {{input type="checkbox" checked=noneChecked}} <em>Any</em>
    {{#each items}}
      <div>
        {{input type="checkbox" checked=isChecked}}
        {{#with obj}}
          {{name}}
        {{/with}}
      </div>
    {{/each}}
  </div>
{{/each}}