{{#each blocks}}
  <div class="filter">
    {{type}}
    {{#each items}}
      <div>
        {{input type="checkbox" checked=isChecked}}
        {{#with obj}}
          {{name}}
        {{/with}}
      </div>
    {{/each}}
  </div>
{{/each}}