<div class="banner">
  <div>
    {{#link-to 'kbHome'}}
      <img src="/assets/diaedu/top-logo.png" />
      <h1>Diabetes Educator Community</h1>
    {{/link-to}}
  </div>
</div>
<nav class="kb-main">
  <div>
    <span {{bind-attr class="isKbActive:active"}}>{{#link-to 'kbHome'}}Knowledge Base{{/link-to}}</span>
      {{#if currentUser}}
        <span {{bind-attr class="isCommunityActive:active"}}>
          {{#link-to 'discovery.latest'}}Community{{/link-to}}
        </span>
      {{else}}
        <span>{{#link-to 'login'}}Community{{/link-to}}</span>
      {{/if}}
    </span>
    <span><a href="/kb/about" class="about-link">About</a></span>
  </div>
</nav>