<div class="banner">
  <div>
    <img src="/assets/diaedu/top-logo.png" />
    <h1>Diabetes Educator Community</h1>
  </div>
</div>
<nav class="kb-main">
  <div>
    <span {{bindAttr class="isKbActive:active"}}>{{#linkTo 'kb_home'}}Knowledge Base{{/linkTo}}</span>
    <span {{bindAttr class="isCommunityActive:active"}}>{{#linkTo 'list.latest'}}Community{{/linkTo}}</span>
    <span><a href="/kb/about" class="about-link">About</a></span>
  </div>
</nav>