<nav class="kb-subnav">
	<span {{bindAttr class="isGlyprobsActive:active"}}>{{#linkTo 'kb_glyprobs'}}Glycemic Problems{{/linkTo}}</span> |
	<span {{bindAttr class="isGlyprobsActive:active"}}>{{#linkTo 'kb_glyprobs'}}Triggers{{/linkTo}}</span> |
	<span {{bindAttr class="isGlyprobsActive:active"}}>{{#linkTo 'kb_glyprobs'}}Goals{{/linkTo}}</span>
</nav>