@import url(http://fonts.googleapis.com/css?family=Lato:400,900);

div.diaedu-content {
  padding: 6px 0 30px 0;
  width: 1110px;
  margin: 0 auto;
  white-space: nowrap;

  /* loading indicator */
  img.loader {
    width: 16px;
    height: 16px;
    vertical-align: middle;
  }

  div.main {
    display: inline-block;
    margin-left: 20px;
    width: 856px;
    min-height: 500px;
    white-space: normal;

    /* add link at top of a page */
    button.btn-add {
      float: right;
    }

    h1 {
      margin-bottom: 20px;
      min-height: 50px;
      line-height: 33px;

      img:first-child {
        display: inline-block;
        width: 50px;
        margin: 0 10px 3px 0;
        vertical-align: bottom;
      }

      span.weaker {
        font-weight: 400;
      }
    }
  }
}

/* main should get smaller when lower res */
@media (max-width: 1170px) {
  div.diaedu-content.objs div.main {
    width: 700px;
  }
}