div.diaedu-content {
  div.filter {
    div.items {
      max-height: 150px;
      overflow: auto;

      div.item {
        clear: both;
        
        input[type=checkbox] {
          float: left;
        }

        div.name {
          margin-left: 18px;
          font-size: 11px;
        }

        &.disabled div.name {
          color: #aaa;
        }
      }
    }
  }
}