@import url(http://fonts.googleapis.com/css?family=Lato:400,900);

div.diaedu-content {
  padding: 6px 20px 30px 20px;

  /* loading indicator */
  img.loader {
    width: 16px;
    height: 16px;
    vertical-align: middle;
  }

  div.main {
    display: inline-block;
    margin-left: 20px;
    width: 800px;
    min-height: 500px;

    /* add link at top of a page */
    button.btn-add {
      float: right;
    }

    h1 {
      margin-bottom: 20px;
      height: 50px;

      img:first-child {
        display: inline-block;
        width: 50px;
        margin: 0 10px 3px 0;
      }
    }
  }
}