@import url(http://fonts.googleapis.com/css?family=Lato:400,900);

div.diaedu-content {
  padding: 6px 20px 30px 20px;

  div.main {
    display: inline-block;
    margin-left: 20px;
    max-width: 800px;

    h1 {
      margin-bottom: 20px;
      height: 50px;

      img:first-child {
        display: inline-block;
        width: 50px;
        margin: 0 10px 3px 0;
      }
    }

    div.index-list {
      display: table;
      width: 800px;
      min-height: 440px;
      margin-bottom: 20px;

      div.index-row {
        display: table-row;
        
        &:hover {
          background-color: #eee;
        }

        > div {
          display: table-cell;
          border-bottom: 1px solid #ccc;
          padding: 8px;
        }

        div.stat {
          text-align: center;
          line-height: 12px;

          small {
            display: block;
          }

          &.likes {
            width: 30px;
          }

          &.comments {
            width: 60px;
          }
        }

        div.main-cell {
          width: 670px;
          padding-right: 0;
          
          div.tags {
            float: right;
            margin-top: 4px;

            span {
              display: inline-block;
              background-color: #ccc;
              color: white;
              padding: 0px 5px;
              margin-right: 5px;
              font-size: 12px;
              border-radius: 3px;
            }

            small {
              color: #aaa;
            }
          }
        }
      }
    }

    div.pagination {
      margin-bottom: 40px;
      table {
        float: right;

        td {
          padding: 0;
          text-align: center;
          border: 1px solid #aaa;

          &:hover {
            background-color: #eee;
          }

          div, a {
            display: block;
            width: 30px;
            height: 23px;
            color: #4F7771;
            padding-top: 5px;
          }

          &.prev a, &.next a {
            width: 60px;
          }

          &.active div {
            background-color: #E4EDEF;
          }

          &.gap:hover {
            background-color: inherit;
          }
        }
      }
    }
  }
}