form.kb-obj-form {
  margin-bottom: 0;

  .errors {
    color: #e45735;
    font-size: 12px;
    font-style: italic;
  }

  div.errors {
    margin-bottom: 5px;
  }

  label.control-label {
    font-size: 12px;
    color: #aaa;
  }

  label.radio.inline {
    padding-top: 0 !important;
  }
    
  input#obj-name {
    width: 99%;
  }

  input#obj-event {
    width: 300px;
  }
}