form.kb-obj-form {
  margin-bottom: 0;

  .errors {
    color: #e45735;
    font-size: 12px;
    font-style: italic;
  }

  div.errors {
    margin-bottom: 5px;
  }

  label.control-label {
    font-size: 12px;
    color: #aaa;
  }

  label.radio.inline {
    padding-top: 0 !important;
  }

  input[type=text].obj-form, textarea.obj-form {
    width: 670px !important;
  }

  ul.token-input-list {
    width: 678px !important;
  }

  div.related-obj-view {
    select {
      width: 673px !important;
    }

    button {
      border-radius: 3px;
      height: 28px;
    }
  }
}

ul.ui-helper-reset li {
  font-size: 13px;
}