form.kb-obj-form {
  margin-bottom: 0;

  .modal-body {
    max-height: 480px;
  }

  .errors {
    color: #e45735;
    font-size: 12px;
    font-style: italic;
  }

  div.errors {
    margin-bottom: 5px;
  }

  label.control-label {
    font-size: 12px;
    color: #aaa;
  }

  label.radio.inline {
    padding-top: 0 !important;
  }

  input[type=text].obj-form, textarea.obj-form {
    width: 670px !important;
  }

  ul.token-input-list {
    width: 678px !important;
  }

  div.related-obj-view {
    select {
      width: 673px !important;
    }

    button {
      border-radius: 3px;
      height: 28px;
    }
  }

  div.evidence {

    div.item {
      min-height: 25px;
    }

    input.title {
      width: 250px;
    }

    input.url {
      width: 190px;
    }

    span.filename {
      width: 200px;
      display: inline-block;
      overflow: hidden;
      vertical-align: middle;
    }

    div.add-links {
      a {
        vertical-align: top;
      }

      a.fileUpload {
        position: relative;
        overflow: hidden;
        display: inline-block;

        input[type=file] {
          position: absolute;
          top: 0;
          right: 0;
          margin: 0;
          padding: 0;
          font-size: 20px;
          direction: ltr;
          cursor: pointer;
          opacity: 0;
          filter: alpha(opacity=0);
        }
      }
    }
  }
}

ul.ui-helper-reset li {
  font-size: 13px;
}