div.pagination {
  margin-bottom: 40px;
  table {
    float: right;

    td {
      padding: 0;
      text-align: center;
      border: 1px solid #aaa;

      &:hover {
        background-color: #eee;
      }

      div, a {
        display: block;
        width: 30px;
        height: 23px;
        color: #4F7771;
        padding-top: 5px;
      }

      &.prev a, &.next a {
        width: 60px;
      }

      &.active div {
        background-color: #E4EDEF;
      }

      &.gap:hover {
        background-color: inherit;
      }
    }
  }
}