/* forward groups, shown in the main column */
div.diaedu-content div.forward-related-groups {
  /* so that page doesn't flip out when changing pages */
  min-height: 650px;

  /* one group of related objects */
  div.related-group {
    margin-bottom: 30px;

    h2 {
      font-weight: 400;
      margin-bottom: 10px;

      img {
        width: 35px;
        vertical-align: text-top;
      }
    }

    a.new-related-obj {
      float: right;
      font-size: 15px;
      color: #F58A33;
      text-decoration: underline;
      margin-top: 5px;
    }

    div.mini-filter {
      margin-bottom: 5px;

      /* 'tags' label */
      span {
        font-weight: bold;
      }

      a {
        color: #999;
        text-decoration: underline;
        font-size: 12px;
      }

      /* 'any' link */
      a.any-link {
        font-style: italic;
      }

      a.active {
        font-weight: bold;
        color: black;
      }
    }
  }
}
